{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ 'ocean.titre.create'|trans }}</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
    <button type="submit">{{ 'ocean.actions.create'|trans }}</button>

    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('ocean_index') }}">{{ 'ocean.actions.back'|trans }}</a>
        </li>
    </ul>
{% endblock %}
